.env.secreto
.env
__pycache__/
chrome_profile/
chrome_profile_api/

.idea
Backup
Backup2

.DS_Store
app_22_03.py
app_24_03.py
app_25_03.py
dump.rdb
list_files.py
lista_arquivos.txt
main(retornar_nome).py
main_2503.py
main_25_03.py
main_2803.py
main_3103.py
new.py
redis_db.py
request_data_asp.txt
driver_utils_continuar.py
clear_redis.py